html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: #01200f;
  font-family: var(--font-roboto);
}

main {
  flex: 1;
}

h1 {
  font-family: var(--font-bbh);
}

p {
  font-family: var(--font-roboto);
}
