button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  text-align: center;
}

.map {
  text-align: center;
  height: 500px;
  width: 50%;
  margin: 0 auto;
}
