.dashboard-initial-loader {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #457b9d;
}

.dashboard-initial-loader img {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.dashboard-initial-loader .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
}

body {
  margin: 0;
}
