.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.main-title img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.links .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1d3557;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
}

.links .btn:hover {
  background-color: #4679c1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #a8dadc;
}
