.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.main-title img {
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.links .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #95cbdf;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
}

.links .btn:hover {
  background-color: #4679c1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0rem;
  width: 100%;
  margin-top: 2rem;
}

.description {
  text-align: center;
  margin: 2rem;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #dbe9ee;
}
