.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.form {
  border-radius: 5px;
  background-color: #a8dadc;
  padding: 10px;
  width: 20%;
  margin: 0 auto;
}

.form label {
  display: block;
}

.form input,
.form select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #1d3557;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #c5f9fc;
}

.actions {
  background-color: #1d3557;
  color: white;
  padding: 0.7rem;
  margin: auto 0 auto auto;
  width: fit-content;
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions:hover {
  background-color: #4679c1;
}

body {
  margin: 0;
  background-color: #a8dadc;
}

.error {
  color: red;
  margin-top: 1rem;
  list-style-type: none;
  text-align: center;
}
