.wrapper {
  display: flex;
  min-height: 85vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.sidebar {
  width: 18rem;
  padding: 2rem;
  background-color: #457b9d;
  color: #fafaf9;
}

.content {
  flex: 1;
  padding: 2rem;
  text-align: center;
  background-color: #457b9d;
  color: #fafaf9;
}

.list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: #27272a;
  color: #fafaf9;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #3f3f46;
}

.pworking {
  color: #a1a1aa;
}

.h2xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-item {
  list-style: none;
}

.pagination {
  display: flex;
  gap: 0.3rem;
  margin-top: 1rem;
  justify-content: center;
}

.pagination button {
  padding: 0.3rem 0.6rem;
  border: 1px solid #1d3557;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #95cbdf;
}

.pagination .activePage {
  background-color: #4679c1;
  color: white;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #457b9d;
}
