.button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  cursor: pointer;

  /* Анимация пульса */
  animation: pulse 1.5s infinite;
}

/* Определяем ключевые кадры пульсации */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 112, 243, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 112, 243, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 112, 243, 0);
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.btn {
  all: unset;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #95cbdf;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
}

.btn:hover {
  background-color: #ffdc5f;
}
