.card {
  background-color: #dbe9ee;
  border-radius: 12px;
  text-align: center;
  height: 20rem;
  color: #01200f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cardImg {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  margin: 0 auto;
}
