.card {
  background-color: #dbe9ee;
  border-radius: 12px;
  text-align: center;
  color: #01200f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 1.5rem;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cardImg {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  margin: 0 auto;
}
