.dashboard-initial-loader {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #104788;
}

.dashboard-initial-loader img {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.dashboard-initial-loader .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #95cbdf;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
}

.dashboard-initial-loader .btn:hover {
  background-color: #4679c1;
}
body {
  margin: 0;
}

.dashboard-initial-loader h1 {
  padding-left: 10rem;
}
