.dashboard-initial-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #104788;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left,
.center {
  flex: 1;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center {
  text-align: center;
}

.dashboard-initial-loader img {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.dashboard-initial-loader .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #95cbdf;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
}

.dashboard-initial-loader .btn:hover {
  background-color: #4679c1;
}
body {
  margin: 0;
}
